<div class="windows">
  <div class="windowsSettings">
    <div class="formSizeWindows">
      <h3>Size Window</h3>
      <form [formGroup]="sizeWindowsForm">
        <label for="width">Width:</label>
        <input type="number" id="width" formControlName="width">
        <label for="height">Height:</label>
        <input type="number" id="height" formControlName="height">
        <select  formControlName="selectWindow">
          <option value="windows">windows</option>
          <option value="android" selected>android</option>
          <option value="mac">mac</option>
        </select>
        <button (click)="windowSize()">Submit</button>
      </form>
    </div>
    <div class="formSizeWindows">
      <h3>Border radius Window</h3>
      <form [formGroup]="radiusForm">
        <label for="radius">Radius:</label>
        <input type="number" id="radius" formControlName="radius">
        <select  formControlName="selectWindow">
          <option value="windows">windows</option>
          <option value="android" selected>android</option>
          <option value="mac">mac</option>
        </select>
        <button (click)="windowRadius()">Submit</button>
      </form>
    </div>
    <div class="formSizeWindows">
      <h3>Button</h3>
      <form [formGroup]="buttonForm">
        <label for="width">Width:</label>
        <input formControlName="width" type="number">
  
        <label for="height">Height:</label>
        <input formControlName="height" type="number">
  
        <label for="buttonText">Button text:</label>
        <input formControlName="buttonText" type="text">
        <label for="fontSize">Button fond size:</label>
        <input formControlName="fontSize" type="text">
        <label for="selectWindow">Platform:</label>
        <select  formControlName="selectWindow">
          <option value="windows">windows</option>
          <option value="android" selected>android</option>
          <option value="mac">mac</option>
        </select>
        <ng-container *ngIf="!isEdit">
          <button (click)="createButton()">Create button</button>
        </ng-container>
        <ng-container *ngIf="isEdit">
          <label for="memoryLocation">memoryLocation:</label>
          <input formControlName="memoryLocation" type="text">
          <button (click)="editButton()">Edit button</button>
          <button (click)="deleteButton()">Delete button</button>
        </ng-container>
      </form>
    </div>
  </div>
  <button (click)="windowsReset()">Reset platforms</button>
  <div class="Btns">
<div class="btnsWindows">
  <h2>Buttons to Windows</h2>
  <ul>
    <li *ngFor="let button of getButtonsWindows(); let i = index">
      <button (click)="fillForm(button)">{{i}}</button>
    </li>
  </ul>
</div>
<div class="btnsAndroid">
  <h2>Buttons to Android</h2>
  <ul>
    <li *ngFor="let button of getButtonsAndroid(); let i = index">
      <button (click)="fillForm(button)">{{i}}</button>
    </li>
  </ul>
</div>
<div class="btnsMac">
  <h2>Buttons to Mac</h2>
  <ul>
    <li *ngFor="let button of getButtonsMac(); let i = index">
      <button (click)="fillForm(button)">{{i}}</button>
    </li>
  </ul>
</div>
  </div>
  
</div>